<!-- @format -->
{% load static %} 
{% load pwa %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="icon" type="image/x-icon" href={% static 'general/img/itsalogo.PNG' %}> 
		<link rel="stylesheet" href={% static 'generalonboard/css/style.css' %} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />

		{% comment %} fonts {% endcomment %}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">
		{% comment %} fonts {% endcomment %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% progressive_web_app_meta %}
	</head>
	<body>
        {% include 'navbaronboard.html' %}{% block content %}{% endblock content %}
		<script src={% static 'generalonboard/js/main.js' %}></script>
    </body>
</html>

