*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* font-size: .9rem; */
}



/* NAV BAR STARTS HERE */
nav{
    background-color: #FFFFFF;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    z-index: 10;
}

/* box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2); */

.closereguser1 img{
    width: 20px;
    background-color: #E1E7FC;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
} 

.profileBox{
    display: none;
    margin: 10px;
    position: fixed;
}

.profileBoxintro{
    display: flex;
    /* position: fixed; */
    align-items: top;
    justify-content: space-between;
}


.profileBox a li{
    color: grey;
}

.notifysectioninner{
    cursor: pointer;
}

.notifysectioninner p{
    cursor: pointer;
}

.notifysection{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notifysection img{
    margin-right: 10px;
}

.notifysectioninner{
    align-items: center;
    display: flex;
    padding-right: 20px;
}

.notifysectioninner p{
    margin-top: 13px;
}

.notifysectioninner img{
    margin-right: 5px;
    margin-left: 5px;
}


.profileimgsectiontext {
    width: 40px;
    font-size: 1rem;
    background-color:#2A66B0;
    color: white;
    margin: 5px;
    padding-top: 5px;
    text-align: center;
    border-radius: 40px;
} 


.requestUser{
    display: none;
}

.profileimgproper img{
    width: 50px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.search input{
    display: flex;
    align-items: center;
    border: solid rgb(190, 190, 190) 1px;
    border-radius: 8px;
    width: 500px;
    position: relative;
    height: 40px;
    padding: 20px;
    padding-left: 50px;
    background-color: transparent;
}

.searchIcon{
    position: absolute;
    top: 18px;
    padding-left: 7px;
}

input:focus{
    outline: none;
}

.search p{
    margin-top: 13px;
}

.search img{
    margin-right: 5px;
    margin-left: 5px;
}

nav button{
    background-color: #EED0D0;
    border: none;
    color: black;
    align-items: center;
    width: 150px;
    font-size: 1.4rem;
    height: 40px;
    padding: 8px 5px 5px 5px;
    border-radius: 8px;
    font-weight: bold;
}

.navBtn img{
    width: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.notifyout{
    position: relative;
    cursor: pointer;
}


.notifyactive{
    position: absolute;
    right: -3px;
}

.allNotificationTabElements{
    display: none;
}

/* NAV BAR ENDS HERE */

/* SIDE BAR STARTS HERE */
.sidebarsection{
    padding-top: 100px;
    padding-left: 20px;
    background-color: white;
    height: 100vh;
    width: 220px;
    position: fixed;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
    color: black;
}


.sidebar{
    display: flex;
    align-items: center;
    margin-top: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    width: 95%;
    padding: 0px 5px;
    border-radius: 8px;
    color: rgb(105, 105, 105);
}

.sidebar:hover{
    color: #FFFFFF;
    background-color: #2A66B0;
}

.sidebar img{
    /* margin-right: 10px; */
    width: 20px;
}

.sidebar p{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.3rem;
}

.logout{
    position: absolute;
    bottom: 40px;
    width: 85%;
}

.active{
    background-color: #2A66B0;
    color: white;
    width: 95%;
    padding: 0px 5px;
    border-radius: 8px;
}

.active p{
    color: white;
}

.dashboard svg{
    fill: black;
    /* margin-right: 10px; */
}
/* SIDE BAR ENDS HERE */

/* NOTIFICATION POPUP STARTS HERE */

.notifySectionPopuP{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.notifySectionPopuPOut{
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    padding: 20px;
    width: 400px;
    margin: 10px;
    margin-top: 62px;
    right: 0;
    top: 0;
    border-radius: 10px;
    z-index: 20;
    height: 70%;
    padding-bottom: 30px;
    overflow-y: scroll;
}

.notificationproper a p{
    color: black;
}

.notifySectionPopuPOut::-webkit-scrollbar{
    display: none;
}


.flash {
    color: #2A66B0;
    font-size: 1.4rem;
}


.noticationSectionProper{
    margin-top: 0px;
}

.notifySectionPopuPOut a .noticationSectionProper h3{
    color: black;
}


.noticationSectionProper h3 a{
    color: #2A66B0;
}
.noticationSectionProperIn{
    height: 100px;
    width: 100%;
    padding: 5px;
    font-size: 1.5rem;
    /* border-right: 2px solid #2A66B0; */
}

.noticationSectionProperIn p{
    font-size: 12px;
}

/* NewNotifyCount starts here */
.NewNotifyCount{
    background-color:#2A66B0;
    text-align: center;
    color: white;
    border-radius: 100px;
    font-weight: bold;
    position: absolute;
    width: 20px;
    top: -9px;
    right: 0px;
}


.NewNotifyCount2{
    background-color:#2A66B0;
    text-align: center;
    color: white;
    border-radius: 100px;
    font-weight: bold;
    position: absolute;
    width: 20px;
    top: -9px;
    right: -10px;
}


.notifySectionPopuPInner{
    display: flex;
    justify-content: space-between;
}

.notifySectionPopuP select{
    width: 40px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

.notifySectionPopupEdge{
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    transform: rotate(45deg);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    top: 80px;
    right: 140px;
    z-index: 10;
}

/* NOTIFICATION POPUP ENDS HERE */


#staffMemberIcon2, #staffMemberIcon{
    fill: #4F4F4F;
}

#studentsIcon2, #studentsIcon{
    fill: #4F4F4F;
}

#supportIcon, #supportIcon1{
    fill: #4F4F4F;
}

#maintenanceIcon1, #maintenanceIcon{
    fill: #4F4F4F;
}

#logout1, #logout2, #logout3{
    fill: #4F4F4F;
}



#overlay{
    height:100%;
    width:100%;
    background: #2A66B0;
    position:fixed;
    left:0;
    z-index: 99;
    top:0;
}


.hamburgerMain{
    display: none;
    z-index: 10;
}


.hamburger{
    display: none;
    z-index: 10;
}


.desktoplogo{
    display: block;
}


.hideonmobile{
    display: block;
}


.responsivesection{
    display: none;
}

.responsivesection2{
    display: none;
}


.navBtnmobile button{
    display: none;
}









































@media only screen and (max-width: 1202px){

    .desktoplogo{
        display: none;
    }
    .responsivesection{
        display: block;
    }

    
    .navBtnmobile button{
        display: block;
        background-color: #EED0D0;
        border: none;
        color: black;
        align-items: center;
        margin-top: 40px;
        width: 150px;
        font-size: 1rem;
        height: 40px;
        padding: 8px 5px 5px 5px;
        border-radius: 8px;
        font-weight: bold;
    }

    .search{
        display: none;
    }

    .responsivesection1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        padding-right: 25px;
    }
    
    .profileimgsectiontext2 {
        width: 40px;
        font-size: 1rem;
        background-color:#2A66B0;
        color: white;
        margin: 5px;
        padding-top: 5px;
        text-align: center;
        border-radius: 40px;
    } 

    nav{
        background-color: #FFFFFF;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
        position: fixed;
        width: 100%;
        z-index: 10;
    }

    .navBtn{
        display: none;
    }

    .sidebarsection{
        display: none;
        background-color: white;
    }

    
.notifySectionPopuPOut{
    background-color: white;
    width: 90%;
    margin: 5px;
    left: 0;
    margin-top: 110px;
}
    
    .showMenu{
        display: block;
    }
    .notifysection .notifyout{
        display: none;
    }
    .notifysectioninner{
        display: none;
    }

    .responsivesection2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-right: 25px;
    }

    .hideonmobile{
        display: none;
    }

    .notifysectioninner2{
        align-items: center;
        display: flex;
        padding-right: 0px;
    }

    .notifysectioninner2 p{
        margin-top: 13px;
    }

    .notifysectioninner2 img{
        margin-right: 5px;
        margin-left: 5px;
    }
    
    
     /* HAMBURGER MENU STARTS HERE */
     .hamburger, .hamburgerMain{ 
        z-index: 10;
        display: block;
    }

    .hamburger { cursor: pointer; padding: 10px 35px 16px 0px; }
    .hamburger span, .hamburger span:before, .hamburger span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 35px;
    background: black;
    position: absolute;
    display: inline-block;
    content: '';
    }
    .hamburger span:before {
    top: -10px; 
    }
    .hamburger span:after {
    bottom: -10px;
    }
    
    .hamburger span, .hamburger span:before, .hamburger span:after {
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    -moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
        -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
            transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
    }
    .hamburger.hamburgeractive span {
    background-color: transparent;
    }
    .hamburger.hamburgeractive span:before, .hamburger.hamburgeractive span:after {
    top: 0;
    }
    .hamburger.hamburgeractive span:before {
    transform: rotate(45deg);
    }
    .hamburger.hamburgeractive span:after {
    transform: translateY(-10px) rotate(-45deg);
    top: 10px;
    }    

    .hamburgerMain{
        margin-top: 0px;
    }
}