<!-- @format -->
{% comment %} {% include 'generalonboard.html' %}  {% endcomment %}
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'general/img/itsalogo.PNG' %}> 
		{% comment %} <link rel="stylesheet" href={% static 'signup/css/style.css' %} /> {% endcomment %}
		<link rel="stylesheet" href={% static 'login/css/style.css' %} />
		{% comment %} <link rel="stylesheet" href={% static 'generalonboard/css/style.css' %} /> {% endcomment %}
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>Welcome Back | ITSA Inventory System</title>
	</head>
	<body>
		<main>
            <div class='sideimagesection'>
                <div class='bckgImg'></div>
                <img src={% static 'signup/img/loginsideimg.png' %} />
            </div>
            <div class='nav'>
                <div class='navmain'>
                    <img src={% static 'generalonboard/img/itsalogopng.png' %} />
                </div>
                    <div class='registerform'>
                        <h4>Welcome Back</h4>
                        <p>
                            Please log into your account
                        </p>
				
                        <div id="flash">
                            {% if messages %} {% for message in messages %}
                            <div class="alert alert-{{ message.tags}} m-0" role="alert">
                                <strong style="color: red">{{ message }}</strong>
                            </div>
                            {% endfor %} {% endif %}
                        </div>

                        <form method='POST'>
							{% csrf_token %}
                            <div class='formsection'>
                                <p>Email Address</p>
                                <input name='companymail' type='text' placeholder='Enter Email Address' />
                            </div>
                            <div class='formsection passwordinput'>
                                <p>Password</p>
                                <input name='password' class='password' type='password' placeholder='********' />
                                <div class='pwdlock'>
                                    <img src={% static 'login/img/lock.png' %} />
                                </div>
                                <div class='pwdeye eye'>
                                    <img src={% static 'login/img/eyeshow.png' %} />
                                </div>
                                <div class='pwdeye eyeicon2'>
                                    <img src={% static 'login/img/eyehide.png' %} />
                                </div>
                            </div>
                            <div class='forgotpwd'>
                                <div class='forgotpwd1'>
                                    <input type='checkbox' />
                                    <p>Remember me</p>
                                </div>
                                <div class='forgotpwd2'>
                                    <a href=''><p>Forgot password</p></a>
                                </div>
                            </div>
                            <div class='formsubmitbtn'>
                                <button type='submit'>Sign in</button>
                            </div>
                        </form>
                        <div class='googlesignin'>
                                <div class='googlesigninner'>
                                    <img src={% static 'signup/img/google.png' %} />
                                    <p>Sign Up With Google</p>
                                </div>
                        </div>
                        <p class='logininstead'>Don't Have An Account Yet? <a href={% url 'PreSignUpPage' %}>Sign Up</a></p>
                    </div>
            </div>
        </main>
        <script src={% static 'login/js/main.js' %}></script>
    </body>
</html>

{% endblock content %}