<!-- @format -->
{% comment %} {% include 'generalonboard.html' %}  {% endcomment %}
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'general/img/itsalogo.PNG' %}> 
		{% comment %} <link rel="stylesheet" href={% static 'signup/css/style.css' %} /> {% endcomment %}
		<link rel="stylesheet" href={% static 'generalonboard/css/style.css' %} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>Register | ITSA Inventory System</title>
	</head>
	<body>
		<nav>
			<div class='nav'>
				<img src={% static 'generalonboard/img/itsalogopng.png' %} />
			</div>
		</nav>
		<main>
			<div class='mainimg'>
				<img src={% static 'signup/img/fellows.png' %} />
			</div>
			<div class='box'>
				<img src={% static 'signup/img/rectangle.png' %} />
			</div>
			<div class='sidenote'>
				<h1>Welcome to our Device Health Management System</h1>
				<div class='sidenote-p'>
					<p>
						We are thrilled to welcome you to our Device Health Management System! We understand the importance of having a reliable and efficient system to manage the health and performance of your devices, and we are confident that our system will provide you with the tools you need to optimize your operations
					</p>
				</div>
				<a href={% url 'SignUpPage' %}><button>
					<p>Continue To Signup</p>
					<img src={% static 'signup/img/arrowright.png' %} />
				</button></a>
			</div>
		</main>
		
		<div class='footer'>
			<img src={% static 'signup/img/footer1.png' %} />
		</div>
		<div class='footer'>
			<img src={% static 'signup/img/footer2.png' %} />
		</div>
	</body>
</html>
{% endblock %}