<!-- @format -->
{% comment %} {% include 'generalonboard.html' %}  {% endcomment %}
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'general/img/itsalogo.PNG' %}> 
		<link rel="stylesheet" href={% static 'signup/css/style.css' %} />
		{% comment %} <link rel="stylesheet" href={% static 'generalonboard/css/style.css' %} /> {% endcomment %}
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>Register | ITSA Inventory System</title>
	</head>
	<body>
		<main>
            <div class='sideimagesection'>
                <div class='bckgImg'></div>
                <img src={% static 'signup/img/signup2img.png' %} />
            </div>
            <div>
                <div class='nav'>
                    <div class='registerform'>
                        <div class='registerformimg'>
                            <img src={% static 'generalonboard/img/itsalogopng.png' %} />
                        </div>
                        <h4>Create Account</h4>
                        <p>
                            Optimize your device performance with our device health management system, Sign up now and never miss a beat.
                        </p>
				
                        <div id="flash">
                            {% if messages %} {% for message in messages %}
                            <div class="alert alert-{{ message.tags}} m-0" role="alert">
                                <strong style="color: red">{{ message }}</strong>
                            </div>
                            {% endfor %} {% endif %}
                        </div>
        
                        <form method='POST'>
							{% csrf_token %}
                            <div class='formsection'>
                                <p>Company Name</p>
                                <input name='companyname' type='text' placeholder='Enter Company Name' />
                            </div>
                            <div class='formsection'>
                                <p>Email Address</p>
                                <input name='companymail' type='text' placeholder='Enter Company Name' />
                            </div>
                            <div class='formsection'>
                                <p>Contact Number</p>
                                <input name='phonenumber' type='text' placeholder='Enter Company Name' />
                            </div>
                            <div class='formsection'>
                                <p>Password</p>
                                <input name='password' type='password' placeholder='Enter A Password' />
                            </div>
                            <div class='formsection'>
                                <p> Confirm Password</p>
                                <input name='rtpassword' type='password' placeholder='Enter Above Password Again' />
                            </div>

                            <div class='formsubmitbtn'>
                                <button type='submit'>Sign Up</button>
                            </div>
                        </form>
                        <div class='googlesignin'>
                                <div class='googlesigninner'>
                                    <img src={% static 'signup/img/google.png' %} />
                                    <p>Sign Up With Google</p>
                                </div>
                        </div>
                        <p class='logininstead'>Have an account already? <a href={% url 'Login' %}>Sign In</a></p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>

{% endblock content %}