<!-- @format -->
{% comment %} {% include 'generalonboard.html' %}  {% endcomment %}

{% load socialaccount %}  
{% load static %} 
{% load pwa %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'general/img/itsalogo.PNG' %}> 
		<link rel="stylesheet" href={% static 'signup/css/stylesignup.css' %} />
		<link rel="stylesheet" href={% static 'onboard/css/companyloginstyle.css' %} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>Register | ITSA Inventory System</title>
        {% progressive_web_app_meta %}
	</head>
	<body>
		<main>
            <div class='sideimagesection'>
                <div class='bckgImg'></div>
                {% comment %} <img src={% static 'signup/img/signup2img.png' %} /> {% endcomment %}
                <img src={% static 'signup/img/signupimg2.png' %} />
            </div>
            <div>
                <div class='nav'>
                    <div class='registerform pageformsection'>
                        <div class='registerformimg'>
                            <img src={% static 'general/img/newlogoITSA.png' %} />
                        </div>
                        <h4>Create an Account</h4>
                        <p>
                            Optimize your device performance with our device health management system, Sign up now and never miss a beat.
                        </p>

                        <div id="flash flashmessage">
                            {% if messages %} {% for message in messages %}
                            <div class="alert alert-{{ message.tags}} m-0" role="alert">
                                <strong style="color: blue">{{ message }}</strong>
                            </div>
                            {% endfor %} {% endif %}
                        </div>
                        <form method='POST'>
							{% csrf_token %}
                            <div class='formsection'>
                                <p>Company Name</p>
                                <input name='companyname' class='companyname' required type='text' maxlength=50 placeholder='Enter Company Name' />
                            </div>
                            <div class='formsection'>
                                <p>Email Address</p>
                                <input name='companymail' required maxlength=50  type='email' placeholder='Enter Company Email Address' />
                            </div>
                            <div class='formsection'>
                                <p>Contact Phone Number</p>
                                <input name='phonenumber' type="Number" maxlength=15 min=7 required placeholder='Enter Company Phone Number' />
                            </div>
                            {% comment %} <div class='formsection'>
                                <p>Password</p>
                                <input name='password' maxlength=15 required type='password' placeholder='Enter A Password' />
                            </div> {% endcomment %}
                            <div class='formsection passwordinput'>
                                <p>Password</p>
                                <input name='password' maxlength=15 class='password' required type='password' placeholder='Enter a password' /><br/><br/>
                                <div class='pwdeye eye'>
                                    <img src={% static 'onboard/img/eyeshow.png' %} />
                                </div>
                                <div class='pwdeye eyeicon2'>
                                    <img src={% static 'onboard/img/eyehide.png' %} />
                                </div>
                            </div>
                            {% comment %} <div class='formsection'>
                                <p> Retype Password</p>
                                <input name='rtpassword' required type='password' placeholder='Enter Above Password Again' />
                            </div> {% endcomment %}

                            {% comment %}  {% endcomment %}

                            
                            <div class='passwordcheck'>
                                <p class='passchecksectionintro'><strong>Your password must include a minimum of </strong></p>
                                <div class='passchecksection checklenght'>
                                    <img src={% static 'onboard/img/tick.png'  %} />
                                    <p>Eight Characters </p>
                                </div>
                                <div class='passchecksection checkcase'>
                                    <img src={% static 'onboard/img/tick.png'  %} />
                                    <p>One UPPERCASE Letter</p>
                                </div>
                                <div class='passchecksection checknum'>
                                    <img src={% static 'onboard/img/tick.png'  %} />
                                    <p>One Number, and</p>
                                </div>
                                <div class='passchecksection checkspec'>
                                    <img src={% static 'onboard/img/tick.png'  %} />
                                    <p>One Special Character (e.g !”@#%^&?)</p>
                                </div>

                            </div>
                            {% comment %} <p class='submitbtnbeforechecks' title='Please Create A Proper Password To Continue'>Password Strength: 0/100</p> {% endcomment %}
                            <p class='passwordstrengthcheck'></p>
                            <button type='submit' class='submitformbtn'>Sign Up</button>

                            {% comment %}  {% endcomment %}
                            <div class='formsubmitbtn'>
                                {% comment %} <button type='submit'>Sign Up</button> {% endcomment %}
                            </div>
                        </form>                
                        <div class='googlesignin2'>
                            <p>Or sign up with</p>
                            {% comment %} <a href="{% provider_login_url 'google' %}"> {% endcomment %}
                                <img src={% static 'signup/img/google.png' %} />
                            {% comment %} </a> {% endcomment %}
                        </div>
                        <br/>
                        <p class='logininstead'>Have an account already? <a href={% url 'Login' %}>Sign In</a></p><br/><br/>
                    </div>
                </div>
            </div>
        </main>
        <script src={% static 'onboard/js/companyonboard.js' %}></script>
    </body>
</html>

{% endblock content %}