
.actiondots{
    cursor: pointer;
}

.actiondots img{
    padding: 5px;
    transition: ease-in-out .3s;
    cursor: pointer;
}

.actiondots img:hover{
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.334);
}

.actiondotsout{
    position: relative;
}


.Pending{
    background-color: #FBF2CE;
    border-radius: 10px;
    padding: 5px;
    width: 60px;
    font-weight: bold;
}


.Ongoing{
    background-color: #2a66b06b;
    border-radius: 10px;
    padding: 5px;
    width: 60px;
    font-weight: bold;
}

.Completed{
    background-color: #C7F6CC;
    border-radius: 10px;
    padding: 5px;
    width: 90px;
    font-weight: bold;
}

.addsubadmindata{
    text-align: left;
}

.addsubadmindata strong{
    text-align: center;
}


.addsubadminmain img{
    text-align: center;
}


.mainfamilymemberslistsection::-webkit-scrollbar{
    display: none;
}

.mainfamilymemberslistsection{
    margin-top: 20px;
}


table::-webkit-progress-bar{
    display: none;
}


.Cancelled{
    background-color: rgba(255, 0, 0, 0.185);
    border-radius: 10px;
    padding: 5px;
    width: 90px;
    font-weight: bold;
}

.memberaction2{
    position: absolute;
    right: 40px;
    bottom: 0px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 200px;
    display: none;
    z-index: 10;
}

.editmaintenancerequest button{
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.selectmaintenancebox select{
    width: 300px;
}

.editmaintenancerequest h3{
    padding-bottom: 10px;
}
.editmaintenancerequest h4{
    padding-bottom: 5px;
}

.selectmaintenancebutton{
    display: flex;
    align-items: center;
    margin-top: 20px;
}


























@media only screen and (max-width: 1202px){
    .selectmaintenancebox select{
        width: 90%;
    }

}

