<!-- @format -->
{% include 'staffgeneral.html' %} 
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'general/img/itsalogo.PNG' %}> 
		<link rel="stylesheet" href={% static 'staffdashboard/css/style.css' %} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
				
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>Staff Dashboard | ITSA Inventory System</title>
		{% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script> {% endcomment %}
	</head>
	<div class='shadow'></div>
	<div class='shadowforazurepopup'></div>
	<body class='body'>
		<div class='main'>
			<div class='maintop'>
				<div class='maintopinner'>
					<div>
						{% for AllStaffMembers in AllStaffMembers %}
						{% if AllStaffMembers.staff_email == request.user.username %}
						<h1>Welcome back {{AllStaffMembers.staff_firstname}},</h1>
						{% endif %}
						{% endfor %}
					
						{% comment %} {% if request.identity_context_data.authenticated %}
						<h1>Welcome on-board {{ request.identity_context_data.username }}!</h1>
						{% else %}
						<h1>You are logged out!</h1>
						<a href="{% url 'sign_in' %}">Login</a>
						{% endif %} {% endcomment %}
						<h5>Get a detailed overview of your devices health and status.</h5>
					</div>

				
					<div id="flash">
						{% if messages %} {% for message in messages %}
						<div class="alert alert-{{ message.tags}} m-0" role="alert">
							<strong style="color: red">{{ message }}</strong>
						</div>
						{% endfor %} {% endif %}
					</div>
					
					<a href = {% url 'StaffMaintainance' %} >
						<div class='maintainReqBtn'>
							<img src={% static 'staffgeneral/img/add.png' %} />
							New Maintenance Request
						</div>
					</a>
				</div>
			</div>
			<div class='midBodysection'>
				{% comment %} DEVICE MINIMAL INFO STARTS HERE {% endcomment %}
				<div>
					<div class='introdetailssection'>
						<div class='requestdataset'>
							<div class='blue introdetailsbar2'>
								<img src={% static 'staffdashboard/img/devices.png' %} />
								<h3>{{ RegisteredDevicesCount }}</h3>
								<p>Assigned Device(s)</p>
							</div>
							<div class='red introdetailsbar2'>
								<img src={% static 'staffdashboard/img/request.png' %} />
								<h3>{{ MaintenanceRequestsCount }}</h3>
								<p>Maintenance Reqeust(s)</p>
							</div>
							<div class='yellow introdetailsbar2'>
								<img src={% static 'staffdashboard/img/pending.png' %} />
								<h3>{{ MaintenanceRequestsPendingCount }}</h3>
								<p>Ongoing Maintenance(s)</p>
								
							</div>
						</div>
					</div>
					<div class='monthlymaintenance'>
						<div class='monthlymaintenanceinner'>
							<h3>Monthly Maintenance</h3>
							{% comment %} {{request.user.username}} {% endcomment %}
							{% comment %} {{MayMaintainReqs}} {% endcomment %}
							<div class='monthlymaintenancedate'>
								<img src={% static 'staffdashboard/img/Calendar.png' %} />
								<select>
									<option>2023</option>
								</select>
							</div>
						</div>
						<div>
							<div class='deviceschartout'>
								<div class='deviceschartimgmain' style=" height:40%; width:100%" >
									<div id="container">
										<canvas id="pie-chart"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% comment %} DEVICE MINIMAL INFO ENDS HERE {% endcomment %}
				{% comment %} ACTIVITY SECTION STARTS HERE {% endcomment %}
				<div class='recenttab'>
					<h3>Recent Activity</h3><br/><br/>
					{% for MaintenanceRequests in MaintenanceRequests %}	
					<div>
						<h4> You created a maintenance request with maintenance ID:<a href ="/staff/staffmaintenancdetail/{{MaintenanceRequests.MaintainRequestID}}/" ><strong> {{MaintenanceRequests.MaintainRequestID}}.</strong></a></h4>
						<p>{{ MaintenanceRequests.created_at }}</p>
					</div>
					{% endfor %}
					<hr/><br/>
					{% for RegisteredDevices in RegisteredDevices %}
					<div>
						<h4>A new device with <strong>Device ID: {{ RegisteredDevices.deviceid }}</strong> was assigned to you</h4>
						<p>{{ RegisteredDevices.created_at }}</p>
					</div>
					<hr/><br/>
					{% endfor %}
				</div>
				{% comment %} ACTIVITY SECTION ENDS HERE {% endcomment %}
			</div>{% comment %} DEVICES INVENTORY TABLE {% endcomment %}
			<div class='deviceInvetorySection'>
				<table>
					<h2>Assigned Devices</h2>
					<tr>
					  <th>ID</th>
					  <th>Name</th>
					  <th>Brand</th>
					  <th>MAC ID</th>
					  <th>Category</th>
					  {% comment %} <th>User</th> {% endcomment %}
					  <th>Status</th>
					  {% comment %} <th>Location</th> {% endcomment %}
					  <th>Date Uploaded</th>
					  {% comment %} <th>Action</th> {% endcomment %}
					</tr>
					{% for RegisteredDevices in RegisteredDevices %}
					<tr>
					  <td>{{ RegisteredDevices.deviceid }}</td>
					  <td>{{ RegisteredDevices.devicename }}</td>
					  <td>{{ RegisteredDevices.devicebrand }}</td>
					  <td>{{ RegisteredDevices.devicemacaddress }}</td>
					  <td>{{ RegisteredDevices.devicetype }}</td>
					  {% comment %} <td><a href=''>{{ RegisteredDevices.deviceuserfirstname }} {{ RegisteredDevices.deviceuserlastname }}</a></td> {% endcomment %}
					  <td class={{ RegisteredDevices.devicestatus }}>{{ RegisteredDevices.devicestatus }}</td>
					  {% comment %} <td>{{ RegisteredDevices.devicelocation }}</td> {% endcomment %}
					  <td>{{ RegisteredDevices.created_at }}</td>
					  {% comment %} <td>
						<div class='actionbtns'>
							<img src={% static 'dashboard/img/edit.png' %} />
							<img src={% static 'dashboard/img/delete.png' %} />
						</div>
					  </td> {% endcomment %}
					</tr>
					{% endfor %}
				</table>
			</div>
			{% comment %} DEVICE INVENTORY LIST SECTION ENDS HERE {% endcomment %}
		</div>

		{% comment %} COMPLETE ACCOUNT SETUP POP STARTS HERE {% endcomment %}
		
		<div class= 'existingUserName ' >{{existingUserName}}</div>
		{% if existingUserName == 'NoUser' %}
		<div class='completeprofileform'>
			<h3>{{ request.identity_context_data.username }}, Kindly Fill The Form Completely To Optimize Your Experience Using The DHMS</h3><br/><br/>
							
			<div id="flash">
				{% if messages %} {% for message in messages %}
				<div class="alert alert-{{ message.tags}} m-0" role="alert">
					<strong style="color: red">{{ message }}</strong>
				</div>
				{% endfor %} {% endif %}
			</div>
			{% comment %} {{ request.identity_context_data.username }} {% endcomment %}
			<form method='POST'>
				{% csrf_token %}
				<label for='companyname'>Company Name</label><br/>
				<select name='companyname'>
					{% comment %} AllCompanies {% endcomment %}
					<option value='none'>--Select your company name--</option>
					{{AllCompanies}}
					{% for AllCompanies in AllCompanies %}
					<option value= {{ AllCompanies.email }} >{{ AllCompanies.companyname }}</option>
					{% endfor %}
					{% comment %} <option value='none'>--Select your company name--</option>
					<option value='ITSA'>IT Service Desk Africa</option>
					<option value='oilserve'>Oil Serve Inc</option>
					<option value='nddc'>NDDC</option> {% endcomment %}
				</select><br/><br/>
				<label for='yourphonenumber'>Your Official Phone Number</label><br/>
				<input name='yourphonenumber' placeholder='eg: 0803 333 3333' /><br/><br/>
				<input hidden name='staff_firstname' value="{{ request.identity_context_data.username }}" />
				
				<label for='youremailaddress'>Your Official Email Address</label><br/>
				<input name='youremailaddress' placeholder='eg: johndoe@itservicedeskafrica.com' /><br/><br/>
				
				<label for='staff_role'>Your Department</label><br/>
				<select name='staff_role'>
					<option value='none'>--Select A Department--</option>
					<option value='ict'>ICT</option>
					<option value='hr'>HR</option>
					<option value='admin'>Admin</option>
					<option value='sales'>Sales Department</option>
					<option value='accounting'>Accounting and Finance</option>
					<option value='operations'>Operations/Delivery Department</option>
				</select><br/><br/>
				{% comment %} <input name='staff_role' placeholder='eg: HR' /><br/><br/> {% endcomment %}
				
				<label for='yourofficelocation'>Your Office Location</label><br/>
				<input name='yourofficelocation' placeholder='eg: Lagos' /><br/><br/>

				<button type='submit' name='submit'>Submit</button>
			</form>
			
			{% comment %} <div class="field field_v1">
				<label for="email" class="ha-screen-reader">Company Name</label>
				<input id="email" type='email' name='email' class="field__input" placeholder="e.g. de-sab@gmailcom" required>
				<span class="field__label-wrap" aria-hidden="true">
					<span class="field__label">Email</span>
				</span>
			</div> {% endcomment %}
		</div>
		{%  else %}
			{% comment %} <p>User Exist</p> {% endcomment %}
		{% endif %}
		{% comment %} {% endfor %} {% endcomment %}


		{% comment %} COMPLETE ACCOUNT SETUP POP ENDS HERE {% endcomment %}

		<script src= {% static 'staffdashboard/js/main.js' %}></script>
		{% comment %} DEVICE DETAILS GRAPH STARTS HERE {% endcomment %}
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
		<script>
			var config = {
				type: 'bar',
				data: {
				  datasets: [{
					data: {{ data|safe }}, 
					{% comment %} backgroundColor: ['#59A2EA', '#F98888', '#FFCC91'], {% endcomment %}
					
					fill: false,
					lineTension: 0,
					backgroundColor: "rgba(0,0,255,1.0)",
					borderColor: "rgba(0,0,255,0.1)",

					label: 'Number of maintenance requests'
				  }],
				  labels: {{ labels|safe }}
				},
				options: {
				  responsive: true,
				  legend: {
					display: false
				}

				}
			  };
			
			  window.onload = function() {
				var ctx = document.getElementById('pie-chart').getContext('2d');
				window.myPie = new Chart(ctx, config);
			  };
			  config.height = 50;
			</script>



		{% comment %} DEVICE DETAILS GRAPH ENDS HERE {% endcomment %}
    </body>
</html>
{% endblock content %}


