<!-- @format -->
{% include 'famgeneral.html' %} 
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'general/img/itsalogo.PNG' %}> 
		<link rel="stylesheet" href={% static 'inventory/css/style.css' %} />
		<link rel="stylesheet" href={% static 'familymembers/css/style.css' %} />
		<link rel="stylesheet" href={% static 'familymaintain/css/style.css' %} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>Family Maintenance | DHMS Inventory System</title>
		{% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script> {% endcomment %}
	</head>
	<div class='shadow'></div>	
	{% if allSignupsForUpdatePopup %}
	{% else %}
	{% comment %} <div class='shadowForPreReg'></div> {% endcomment %}
	{% endif %}
	<body class='body'>
		<div class='main'>
			<div class='familymemberintro'>
				<div>
					<h1>Maintenance</h1>
					<h4>Have your devices fixed with zero hassles</h4>
				</div>
				{% comment %} <div class='familymemberintrobtn'>
					<button>
						<img src={% static 'familymembers/img/add.png' %} />
						Request Maintenance
					</button>
				</div> {% endcomment %}
			</div>
				
			<div id="flash" class='flashmessage'>
				{% if messages %} {% for message in messages %}
				<div class="alert alert-{{ message.tags}} m-0" role="alert">
					<strong>{{ message }}</strong>
					{% comment %} <strong style="color: blue">{{ message }}</strong> {% endcomment %}
				</div>
				{% endfor %} {% endif %}
			</div>
			{% comment %} EMPTY STATE STARTS HERE {% endcomment %}
			<div class='emptystate'>
				<img src={% static 'familymembers/img/familymemberemptystate.png' %} />
				<h4>No family members have been added yet. Add family members and start managing them.</h4>					
				<button>
					<img src={% static 'familymembers/img/add2.png' %} />
					Add Member
				</button>
			</div>
			{% comment %} EMPTY STATE ENDS HERE {% endcomment %}			
			<div class='familymemberCount'>
				<p>{{allfamilymembersCount}}</p>
			</div>
			{% comment %} MAIN FAMILY MEMBERS DISPLAY STARTS HERE {% endcomment %}

			<div class='mainfamilymemberslistsection'>
				{% comment %} SEARCH SECTION STARTS HERE {% endcomment %}
				<div class='deviceinventorymaintop'>
					<div class='searchdashboardsection'>
						{% comment %} <div class='searchdashboard'>
							<form>
								<input type='text' name='q' placeholder='Search Devices' />
							</form>
							<img class='searchicon' src={% static 'dashboard/img/searchicon.png' %} />
						</div>
						
						<div class='filteroutter'>
							<div class='filter filtercategory'>
								<img src={% static 'familymembers/img/filter.png' %} />
								<p>Filter by Category</p>
							</div>
						</div> {% endcomment %}
						
						{% comment %} FILTER DATA ENTRY CATEGORY SELECTION {% endcomment %}
						<div class='filterbox filterbox1'>
							<h2>Filter by</h2>
							<div class='closefilter'>
								<img src={% static 'dashboard/img/close.png' %} title='Close Filter' />
							</div>
							<div>
								<form method='GET' action={% url 'Searchresult' %}>
									
									<p>Device Category</p>
									<select name='q'>
										<option value = 'AllCategory'>All</option>
										<option value='Desktop'>Desktop</option>
										<option value='Laptop'>Laptop</option>
										<option value='Printer'>Printer</option>
										<option value='Scanner'>Scanner</option>
										<option value='OtherDevices'>Other Devices</option>
									</select>
									<button type='submit'>Filter</button>
								</form>
							</div>
						</div>
						{% comment %} FILTER BY DEVICE STATUS {% endcomment %}
						{% comment %} <div class='filterbox filterbox2'>
							<h2>Filter by</h2>
							<div class='closefilter2'>
								<img src={% static 'dashboard/img/close.png' %} title='Close Filter' />
							</div>
							<div>
								<form method='GET' action={% url 'Searchresult' %}>
									<div class='selecthealth'>
										<p>Device Health</p>
											<select name='q'>
												<option value = 'AllStatus' >All</option>
												<option value='Working'>Working</option>
												<option value='Critical'>Critical</option>
												<option value='Faulty'>Faulty</option>
											</select>
									</div>
									<button type='submit'>Filter</button>
								</form>
							</div>
						</div> {% endcomment %}
					</div>
					<div class='searchsidebtns'>
						<div class='scannetworkbtn'>
							<a>
								{% comment %} <button class='scannetworkbtn'>
									<img src={% static 'familymembers/img/export.png' %} />
									<p>Export</p>
								</button> {% endcomment %}
							</a>
						</div>
					</div>
				</div>
				{% comment %} SEARCH SECTION ENDS HERE {% endcomment %}
				
				<table  id="paginated-list" >
					<tr>
					  <th class='topCheckBox'>
						<input type='radio' />
					  </th>
					  <th>Device ID</th>
					  <th>Maintenance Title</th>
					  <th>Maintenance Desc.</th>
					  <th>Maintenance ID</th>
					  <th>Maintenance Status</th>
					  <th>Requested By</th>
					  <th>Action</th>
					  <th></th>
					</tr>
					{% for AllFamilyMaintainanceReq in AllFamilyMaintainanceReq %}
					<div class='item'>
						<tr class='item'>
							<td><input type='radio' /></td>
							<td>{{ AllFamilyMaintainanceReq.maintaindeviceID }}</td>
							<td>{{ AllFamilyMaintainanceReq.maintainancetitle }}</td>
							<td>{{ AllFamilyMaintainanceReq.maintainancedescription }}</td>
							<td>{{ AllFamilyMaintainanceReq.maintainanceID }}</td>
							<td><p class="{{ AllFamilyMaintainanceReq.MaintainStatus }}">{{ AllFamilyMaintainanceReq.MaintainStatus }}<p></td>
							<td>{{ AllFamilyMaintainanceReq.maintainanceRequester }}</td>

							<td class='actiongensection'>
								<div class='actionbtns'>
									<img src={% static 'familymembers/img/action.png' %} />
								</div>
								<div class='memberaction'>
									<div class='memberactioninner'>
										<img src={% static 'familyinv/img/eye.png' %} />
										<p>View Details</p>
									</div>
									<a href= "/familydhms/familydevicemaintain/editmaintenancereq/{{ AllFamilyMaintainanceReq.id }}" ><div class='memberactioninner'>
										<img src={% static 'familyinv/img/edit.png' %} />
										<p>Edit Maintenance Status</p>
									</div></a>
								</div>
								<div class='addsubadmin'>
									<div class='addsubadminclosebtn'>
										<img src={% static 'familymembers/img/x.png' %} />
									</div>
									<div class='addsubadminmain'>
										<img src={% static 'familymaintain/img/maintaindevice.png' %} />
									</div><br/><br/>
									<h3><strong>Maintenance Request Details</strong><h3>
									<div class='addsubadmindata'>
										<h4>Maintenance Request ID: <strong>{{AllFamilyMaintainanceReq.maintainanceID}}</strong></h4>
										<h4>Device ID: <strong>{{AllFamilyMaintainanceReq.maintaindeviceID }}</strong></h4>
										<h4>Requested By: <strong>{{AllFamilyMaintainanceReq.maintainanceRequester}}</strong></h4>
										<h4>Date Requested: <strong>{{AllFamilyMaintainanceReq.created_at}}</strong></h4>
									</div>									
								</div>
							</td>
						</tr>
					</div>
					{% endfor %}
				</table>
			</div>
			{% comment %} MAIN SECTION ENDS IMMEDIATELY BELOW {% endcomment %}
        </main>
		{% comment %} <script src={% static 'familymaintain/js/familymaintain.js' %}></script> {% endcomment %}
		<script src={% static 'familymembers/js/familymembers.js' %}></script>
    </body>
</html>
{% endblock content %}




