<!-- @format -->
{% include 'famgeneral.html' %} 
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'general/img/itsalogo.PNG' %}> 
		<link rel="stylesheet" href={% static 'familydashboard/css/style.css' %} />
		<link rel="stylesheet" href={% static 'familyinv/css/style.css' %} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>Family Inventory | ITSA Inventory System</title>
		{% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script> {% endcomment %}
	</head>
	<body class='body'>
		<div class='shadow'></div>
		<div class='main'>			
			<h1><strong>Device inventory</strong></h1>
			<h5>Manage your family's devices</h5>
				
			<div id="flash flashmessage">
				{% if messages %} {% for message in messages %}
				<div class="alert alert-{{ message.tags}} m-0" role="alert">
					<strong>{{ message }}</strong>
					{% comment %} <strong style="color: blue">{{ message }}</strong> {% endcomment %}
				</div>
				{% endfor %} {% endif %}
			</div>
			
			<div class='postheroinv'>
				<div>
					<div class='introdetailssection'>
						<div class='introdetailsbar allusers'>
							<img src={% static 'familydashboard/img/devices.png' %} />
							<div>
								{% if AllFamilyDevicesCount  %}
								<h1>{{ AllFamilyDevicesCount }}</h1>
								{% else %}
								<h1>0</h1>
								{% endif %}
								<p>Devices</p>
							</div>
						</div>
						<div class='introdetailsbar faultydevices'>
							<img src={% static 'familydashboard/img/healthy.png' %} />
							<div>
								{% if AllWorkingDevicesCount  %}
								<h1>{{ AllWorkingDevicesCount }}</h1>
								{% else %}
								<h1>0</h1>
								{% endif %}
								<p>Healthy Devices</p>
							</div>
						</div>
						<div class='introdetailsbar healthydevices'>
							<img src={% static 'familydashboard/img/faulty.png' %} />
							<div>
								{% if AllFaultyAndCritialDevices  %}
								<h1>{{ AllFaultyAndCritialDevices }}</h1>
								{% else %}
								<h1>0</h1>
								{% endif %}
								<p>Faulty Devices</p>
							</div>
						</div>
						<div class='introdetailsbar onmaintenance'>
							<img src={% static 'familydashboard/img/maintenance.png' %} />
							<div>
								{% if AllMaintenancesCount  %}
								<h1>{{ AllMaintenancesCount }}</h1>
								{% else %}
								<h1>0</h1>
								{% endif %}
								<p>On Maintenance</p>
							</div>
						</div>
					</div><br/>
				</div>
				<div class='addnewdevicebtn'>
					<button>
						<img src={% static 'dashboard/img/add.png' %} />
						<p>Add Device</p>
					</button>
				</div>
			</div>
			<div class='maindevicelistsection'>
				{% comment %} {% if AllFamilyDevices %} {% endcomment %}
				<div class='fillstate'>					
					{% comment %} <div class='deviceInvetorySectionIn'> {% endcomment %}
						{% if AllFamilyDevices %}
						<table>
							<tr>
							<th>
								<input type="radio" />
							</th>
							<th>Name</th>
							<th>Unique ID</th>
							<th>MAC ID</th>
							<th>Brand</th>
							<th title='Device Depreciation Rate'>DDR</th>
							<th>OS</th>
							<th>Type</th>
							<th>Status</th>
							<th>Assigned to</th>
							</tr>
							{% for AllFamilyDevices in AllFamilyDevices %}
							<tr>
								<td><input type="radio" /></td>
								<td>{{ AllFamilyDevices.devicename }}</td>
								<td class='link'>
									<strong><a href= /member/viewdevicedetails/{{AllFamilyDevices.deviceid}}/ >{{ AllFamilyDevices.deviceid }}</a></strong>
								</td>
								<td>{{ AllFamilyDevices.devicemacaddress }}</td>
								<td>{{ AllFamilyDevices.devicebrand }}</td>
								<td>{{ AllFamilyDevices.devicedepreciationrate }}</td>
								<td>{{ AllFamilyDevices.deviceOS }}</td>
								<td>{{ AllFamilyDevices.devicetype }}</td>
								<td><p class="{{ AllFamilyDevices.devicestatus }}">{{ AllFamilyDevices.devicestatus }}</p></td>
								<td class='link enterStaffUser'>
									{% if AllFamilyDevices.deviceuserfullname %}
										{{ AllFamilyDevices.deviceuserfullname }}
									{% else %}
										{% for allfamilymembers in allfamilymembers %}
											{% if AllFamilyDevices.deviceUserID == allfamilymembers.memberid %}
												<strong><a href= /member/staffdetails/{{ allfamilymembers.id }}/  >{{ allfamilymembers.memberfullname }}</a></strong>
											{% endif %}
										{% endfor %}
									{% endif %}
								</td>
							</tr>
							{% endfor %}
						</table>
						{% else %}
						<div class='emptystate'>
							<div class='emptystatemaining'><img src={% static 'familyinv/img/emptystate.png' %} /></div>
							<h4>You haven't added any devices yet. Click the "Add New Device" button to add devices to your inventory</h4>
							<button class='addnewdevicebtn'>
								<img src={% static 'dashboard/img/add.png' %} />
								<p>Add New Device</p>
							</button>
						</div>
						{% endif %}
					{% comment %} </div> {% endcomment %}
				</div>
				{% comment %} {% else %} {% endcomment %}
				{% comment %} {% endif %} {% endcomment %}
			</div>
        </main>
		{% comment %} ADD NEW DEVICE POP STARTS HERE {% endcomment %}		
		<div class='registerDevice registerDeviceinv'>
			<form method = 'POST' enctype="multipart/form-data" >
				{% csrf_token %}			
				<div class='registerDeviceIntro'>
					<div>
						<h1>Add New Device</h1>
					</div><br/><br/><br/><br/>
					<div class='closeaddnewdeviceopoup'>
						<img src={% static 'dashboard/img/close2.png' %} />
					</div>
				</div>
				<div class='registerDeviceinvinner'>
					<div>
						<h4>Upload pictures of device (optional): <h4>
							<div>
								<div class='uploaddevicepopup'>
									<form method = 'POST' enctype="multipart/form-data">
										{% comment %} {% csrf_token %} {% endcomment %}
										<div>
											<label for="images" class="drop-container">
												<img src={% static 'familyinv/img/addgrey.png' %} />
												{% comment %} <input type='text' hidden name='username' value = {{request.user}}  />
												<input type='text' hidden name='savetimedata' class='sendsavetimedata'  /> {% endcomment %}
												<div class="drop-title span">Click To Select Picture</div>
												{% comment %} or {% endcomment %}
												<input accept="image/*" name='device_images' type="file" id="images">
											</label>
										</div>
										{% comment %} PREVIEW OF UPLOADED IMAGE SETUP STARTS HERE {% endcomment %}
										<div>											
											<img id="previewimage" src="#" alt="your device's image" />
										</div>
										{% comment %} PREVIEW OF UPLOADED IMAGE SETUP ENDS HERE {% endcomment %}
										{% comment %} <button type='submit'>Upload</button> {% endcomment %}
									{% comment %} </form> {% endcomment %}
								</div>
	
							</div>
					</div>
					<div>
						<div>
							<div class='adddevicedashboard'>
								{% comment %} <p>Select device type</p> {% endcomment %}
								<select required name='devicetype'>
									<option>--Select Device Kind--</option>
									<option value='Laptop'>Laptop</option>
									<option value='Desktop'>Desktop</option>
								</select>
							</div><br/>
							{% comment %} <input required name='deviceusedepartment' type='text' placeholder='Device Department' /><br/><br/> {% endcomment %}
	
							{% comment %} <input required name='devicebrand' type='text' placeholder='Device Brand(eg: HP, Dell)' /><br/><br/> {% endcomment %}							
							<select required name='devicebrand'>
								<option>--Select Device Brand--</option>
								<option value='Dell'>Dell</option>
								<option value='HP'>HP</option>
								<option value='Samsung'>Samsung</option>
								<option value='Toshiba'>Toshiba</option>
								<option value='Acer'>Acer</option>
								<option value='Not Listed'>Not listed</option>
							</select><br/><br/> 
	
							{% comment %} <input required name='deviceos' type='text' placeholder='Device Operating System' /><br/><br/> {% endcomment %}
							<select name='deviceos'>
								<option>--Select Device Operating System--</option>
								<option value='Windows OS'>Windows OS</option>
								<option value='Mac OS'>Mac OS</option>
								<option value='Linux Os'>Linux Os</option>
							</select><br/><br/>
							
							<select name='devicestatus'>
								<option>--Select Device Status--</option>
								<option value='Working'>Working</option>
								<option value='Faulty'>Faulty</option>
								<option value='Critical'>Critical</option>
							</select><br/><br/>
	
							{% comment %} <input required name='deviceyearofpurchase' type='number' placeholder='Device Year Of Purchase eg: 2023' /> {% endcomment %}
							
							<select name='deviceyearofpurchase'>
								<option>--Select Device Year Of Purchase--</option>
								<option value='2023'>2023</option>
								<option value='2022'>2022</option>
								<option value='2021'>2021</option>
								<option value='2020'>2020</option>
								<option value='2019'>older</option>
							</select><br/><br/>
	
							<input required name='FamilyUniqueCode' type='text' hidden value={{ request.user.email }} />
							{% comment %} <input name='FamilyUniqueCode' type='text' hidden value={{ request.user.last_name }} /><br/><br/> {% endcomment %}
	
							<div class='adddevicedashboard'>
								{% comment %} <p>Device Name</p> {% endcomment %}
								<input required name='devicename' type='text'placeholder='Device Name' />
							</div><br/>
							<div class='adddevicedashboard'>
								{% comment %} <p>Device MAC ID</p> {% endcomment %}
								<input required name='devicemacaddress' type='text'placeholder=' MAC Address (XX:XX:XX:XX:XX)' />
							</div><br/>
							<div class='adddevicedashboard'>
								{% comment %} <p>Device IP Address</p> {% endcomment %}
								<input required name='deviceip' type='text'placeholder='Device IP Address' />
							</div><br/>
							
							<div class='adddevicedashboard'>
								{% comment %} <p>Device Location</p> {% endcomment %}
								<input required name='devicelocation' type='text'placeholder='Device Location' />
								<input type='text' name='familyadmin' value={{request.user}} hidden />
							</div>
						</div><br/>
						<hr/><br/>
						<h4>Assign Device To A Family Member(Optional)</h4><br/>		
						<select name="deviceUserID" class="player-dropdown">
							<option value='None'>--Select A Family Member--</option>
							{% for allfamilymembers in allfamilymembers %}
								<option value="{{ allfamilymembers.memberid}}">{{ allfamilymembers.memberfullname }} [{{ allfamilymembers.memberid}}]</option>
							{% endfor %}
						</select><br/><br/>
	
						<button type='submit'>Register Device</button>
					</div>
				</div>
			</form>
		</div>
		{% comment %} ADD NEW DEVICE POP ENDS HERE {% endcomment %}
		{% comment %} DEVICE REGISTER SUCCESS STARTS HERE {% endcomment %}
		<div class='deviceregsuccess'>
			<div class='closedeviceregsuccess'>
				<img src={% static 'dashboard/img/close2.png' %} />
			</div><br/><br/>
			<img src={% static 'familyinv/img/good.png' %} /><br/>
			<h5>Device Added Successfully</h5>
		</div>
		{% comment %} DEVICE REGISTER SUCCESS ENDS HERE {% endcomment %}
		<script src={% static 'familyinv/js/main.js' %}></script>
    </body>
</html>
{% endblock content %}