<!-- @format -->
{% include 'famgeneral.html' %} 
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'general/img/itsalogo.PNG' %}> 
		{% comment %} <link rel="stylesheet" href={% static 'familydashboard/css/style.css' %} /> {% endcomment %}
		<link rel="stylesheet" href={% static 'familymembers/css/style.css' %} />
		<link rel="stylesheet" href={% static 'familydevdetails/css/style.css' %} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>Device Details | Family Members DHMS</title>
		{% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script> {% endcomment %}
	</head>
	<body class='body'>
		<div class='shadow'></div>	
		<div class='main'>
			{% comment %} MAIN STARTS ABOVE {% endcomment %}
			<div class='familymemberintrodevdetails'>
				<div>
					<h1>Device Details</h1>
					<h4><a href={% url 'FamilyInventory' %}>All Devices</a> > {{ curretdevice.devicename }}</h4>
				</div>
				<div class='topnavbtns'>
					{% comment %} <div class='familymemberintrobtn'>
						<button>
							<img src={% static 'familymembers/img/add.png' %} />
							Edit Device
						</button>
					</div> {% endcomment %}
					<div class='requestmaintenance'>
						<button>
							<img src={% static 'familymembers/img/add.png' %} />
							Request Maintenance 
						</button>
					</div>
				</div>
			</div>
				
			<div id="flash" class='flashmessage'>
				{% if messages %} {% for message in messages %}
				<div class="alert alert-{{ message.tags}} m-0" role="alert">
					<strong>{{ message }}</strong>
					{% comment %} <strong style="color: blue">{{ message }}</strong> {% endcomment %}
				</div>
				{% endfor %} {% endif %}
			</div>
			{% comment %} DEVICE DETAILS PROPER STARTS HERE {% endcomment %}
			<div class='devicedetailsmain'>
				<h1>{{ curretdevice.devicename }}</h1><br/><br/>
				<div class='devicedetailsmaininner'>
					<div>
						{% comment %} <h3>Device details</h3><br/> {% endcomment %}
						<h4>Device Model: <strong>{{ curretdevice.devicemodel }}</strong></h4><br/>
						<h4>Device Type: <strong>{{ curretdevice.devicetype }}</strong></h4><br/>
						<h4>IP Address: <strong>{{ curretdevice.deviceipaddress }}</strong></h4><br/>
						<h4>OS: <strong>{{ curretdevice.deviceOS }}</strong></h4><br/>
						<h4>Device Status: <strong>{{ curretdevice.devicestatus }}</strong></h4><br/>
						<h4>Assigned to: <strong>{{ curretdevice.deviceuserfullname }}</strong></h4><br/>
					</div>
					{% if curretdevice.deviceImageOne %}
					<div class='deviceimageproper'>
						<img src="{{ curretdevice.deviceImageOne.url }}" />
					</div>
					{% else %}
					<br/><div><h4><strong>A picture of this device was not found</strong></h4></div>
					{% endif %}
				</div>
			</div>
			{% comment %} DEVICE DETAILS PROPER ENDS HERE {% endcomment %}
        </div>
		{% comment %} ADD FAMILY MEMBER POP UP STARTS HERE {% endcomment %}

		<div class='requestmain'>
			<div class='addfampopuphead'>
				<div>
					<h3>Request a maintenance for this device</h3>
					{% comment %} <p>Add a new family member to your Family DHMS </p> {% endcomment %}
				</div>
				<div class='addfampopupheadclosebtn requestmainclosebtn'>
					<img src={% static 'familymembers/img/x.png' %} />
				</div>
			</div><br/><br/>
			<div>
				<form method='POST'>
					{% csrf_token %}
					<label for='title'>What fault did you notice?</label><br/>
					<input id='title' name='title' type='text' required placeholder='Eg: The screen is bad' /><br/><br/>

					<label for='details'>Describe this fault as much as you can</label><br/>
					<input id='details' name='details' type='details' required placeholder='Eg: The device stopped displaying anything on the screen suddenly this afternon and I need it for a project delivery tommorow' /><br/><br/>
					<button>Request maintenance</button>
				</form>
			</div>

		</div>

		{% comment %} ADD FAMILY MEMBER POP UP ENDS HERE {% endcomment %}
		<script src={% static 'familydevdetails/js/familydevdetails.js' %}></script>
    </body>
</html>
{% endblock content %}