<!-- @format -->
{% include 'general.html' %} 
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'useronboard/login/images/itsalogo.PNG' %}>
		<link rel="stylesheet" href={% static 'dashboard/css/style.css' %} />
		<link rel="stylesheet" href={% static 'inventory/css/style.css' %} />
		<link rel="stylesheet" href={% static 'maintainance/css/style.css' %} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">


		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>Maintainance | ITSA Inventory System</title>
	</head>
	<div class='shadow'></div>
	<body class='body'>
		{% comment %} MAIN STARTS HERE {% endcomment %}
		<div class='main'>
            <h1>Maintenance</h1>
			<div class='subIntroSection'>
				<div>
					<h5>
						Get an overview of your device health and status
					</h5>
				</div>
				<div class='MaintenanceSelectSection'>
					<h5>
						<div class='MaintenanceSelectSectionInner'>
							Maintenance Request
							<div class='maintainRequestCount'>
								<p>{{allMaintainsCount}}</p>
							</div>
						</div>
						<div class='maintainRequestLine maintainLine'></div>
					</h5>
					<h5>
						<div class='MaintenanceSelectSectionInner2'>
							Maintenance History
							<div class='maintainHistoryLine maintainLine'></div>
						</div>
					</h5>
				</div>
			</div>
			<div>
				<div class='maintainReqMainOut'>
					<div class='maintainReqMain'>
						<div>
							<img src={% static 'maintenance/img/red.png' %} />
						</div>
						<div>
							<h1>30</h1>
							<p>Maintenance Request</p>
						</div>
					</div>
					<div class='maintainReqMain'>
						<div>
							<img src={% static 'maintenance/img/yellow.png' %} />
						</div>
						<div>
							<h1>15</h1>
							<p>Ongoing Maintenance</p>
						</div>
					</div>
					<div class='maintainReqMain'>
						<div>
							<img src={% static 'maintenance/img/green.png' %} />
						</div>
						<div>
							<h1>15</h1>
							<p>Resolved Issues</p>
						</div>
					</div>
				</div>
			</div>
			<div>
			{% comment %} SEARCH SECTION STARTS HERE {% endcomment %}
			<div class='deviceinventorymaintop'>
				<div class='searchdashboardsection'>
					<div class='searchdashboard'>
						<form method='GET' action="{% url 'Searchresult' %}">
							<input type='text' name='q' placeholder='Search Devices' />
						</form>
						<img class='searchicon' src={% static 'dashboard/img/searchicon.png' %} />
					</div>
					<div class='filter filtercategory'>
						<img src={% static 'inventory/img/filter.png' %} />
						<p>Filter</p>
					</div>
					
						{% comment %} FILTER DATA ENTRY CATEGORY SELECTION {% endcomment %}
						<div class='filterbox filterbox1'>
							<h2>Filter by</h2>
							<div class='closefilter'>
								<img src={% static 'dashboard/img/close.png' %} title='Close Filter' />
							</div>
							<div>
								<form method='GET' action={% url 'Searchresult' %}>
									<div class='selecthealth'>
									<p>Device Health</p>
										<select name='q'>
											<option>All</option>
											<option value='Desktop'>Healthy</option>
											<option value='Laptop'>Critical</option>
											<option value='Printer'>Faulty</option>
										</select>
									</div>
									{% comment %} <br/> {% endcomment %}
									
									<p>Device Category</p>
									<select name='q'>
										<option>All</option>
										<option value='Desktop'>Desktop</option>
										<option value='Laptop'>Laptop</option>
										<option value='Printer'>Printer</option>
										<option value='Scanner'>Scanner</option>
										<option value='OtherDevices'>Other Devices</option>
									</select>
									<button type='submit'>Filter</button>
								</form>
							</div>
						</div>
						{% comment %} FILTER DATA ENTRY CALENDAR SELECTION {% endcomment %}
					<div class='filter filtercategory'>
						<img src={% static 'maintenance/img/sort.png' %} />
						<p>Sort</p>
					</div>
				</div>
				<div class='searchsidebtns'>
					<div class='uploaddevicecsv showdeviceuploadpopup'>
						<button>
							<img src={% static 'maintenance/img/export.png' %} />
							<p>Export</p>
						</button>
					</div>
					<div class='scannetworkbtn'>
						<button>
							<img src={% static 'maintenance/img/support.png' %} />
							<p>Contact ITSA Support</p>
						</button>
					</div>
				</div>
			</div>
			{% comment %} SEARCH SECTION ENDS HERE {% endcomment %}
			</div>
			{% comment %} DEVICES INVENTORY TABLE {% endcomment %}
			<div>
				<table  id="paginated-list" >
					<tr>
						<th class='topCheckBox'>
						<input type='checkbox' />
						</th>
						<th>Device ID</th>
						<th>Device Name</th>
						<th>Device MAC ID</th>
						<th>Device Type</th>
						<th>Device User</th>
						<th>Maintenance Status</th>
						<th>Device Location</th>
						{% comment %} <th>Date Uploaded</th> {% endcomment %}
						<th>Action</th>
						<th>More Info</th>
					</tr>
					{% for allMaintains in allMaintains %}
					<div class='item'>
						<tr class='item'>
							<td class='sectionCheckBox'>
								<input type='checkbox' />
							</td>
							<td>{{ allMaintains.MaintainDeviceID }}</td>
								<td>{{ allMaintains.MaintainDeviceName }}</td>
								<td>{{ allMaintains.MaintainDeviceMAC_ID }}</td>
								<td>{{ allMaintains.MaintainType }}</td>
								<td><a href=''>{{ allMaintains.MaintainDeviceUser }}</a></td>
								<td class={{ allMaintains.MaintainStatus }}>{{ allMaintains.MaintainStatus }}</td>
								<td>{{ allMaintains.MaintainDeviceLocation }}</td>
								{% comment %} <td>{{ allMaintains.devicelocation }}, id: {{ allMaintains.id }}</td> {% endcomment %}
								{% comment %} <td>{{ allMaintains.created_at }}</td> {% endcomment %}
							<td>
								<div class='actionbtns'>
									<div class='testbox'></div>
									<button class='editDeviceData'><img src={% static 'dashboard/img/edit.png' %} /></button>
										<input hidden name='IdRequest' value={{ allMaintains.id }} />
										<button ><a href= /member/deletedevice/{{ allMaintains.id }}/ ><img src={% static 'dashboard/img/delete.png' %} /></a></button>
										{% comment %} <button class='delIn' onclick=loadDelPopUp() ><img src={% static 'dashboard/img/delete.png' %} /></button> {% endcomment %}
									
									{% comment %} DELETE DEVICE PROMPT STARTS HERE {% endcomment %}
									{% comment %} <div class='predelete'>
										<h3>Are you sure you want to delete this device?</h3><br/>
										<div class='predeletebtns'>
											<a href={% url 'DeviceInventory' %}><button>Return</button></a>
											<a href= /member/deletedevice/{{ allMaintains.id }}/  /><button>Delete This Device</button></a>
										</div>
									</div> {% endcomment %}
									{% comment %} DELETE DEVICE PROMPT ENDS HERE {% endcomment %}
								</div>
							</td>
							<td class='moredetailsbtn'>
								<button>More Details</button>
							</td>
						</tr>
					</div>
					{% endfor %}
				</table>
				<div class='pagesdetailsseection'>
					<div class='perpagecount'>
						<div>
							<div class='selectedNumber'>
								<p>{{ numberOfDevicesPerPage }}</p>
								<img src={% static 'inventory/img/selectnav.png' %} />
							</div>
							<div class='selectPerPageCountBox'>
								<div class='selectPerPageCountBoxintro'>
									<h4>Select number of items to display per page</h4>
									<img src={% static 'inventory/img/close.png' %} />
								</div>
								<hr/>
								<form method='POST'>
									{% csrf_token %}
									<div class='numofitemsperpageout'>
											<select class='numofitemsperpage' name='numofitemsperpage'>
												<option value='1'>1</option>
												<option value='2'>2</option>
												<option value='3'>3</option>
												<option value='4'>4</option>
												<option value='5'>5</option>
												<option value='6'>6</option>
												<option value='7'>7</option>
												<option value='8'>8</option>
												<option value='9'>9</option>
												<option value='10'>10</option>
											</select>
										<button type='submit'>Activate</button>
									</div>
								</form>
							</div>
						</div>
						<div>
							<p>items per page</p>
						</div>
					</div>
					<div class='perpagecount2'>
						1-<span>{{ numberOfDevicesPerPage }}</span> items of <i>{{ allMaintainsCount }}</i>
					</div>
					<div id="pagination-numbers">
		
					</div>

					<div class='pages'>
						{% comment %} <div>
							<select>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
							</select>
						</div> {% endcomment %}
						
						<div id="pagination-numbers"></div>
						<div>Total of <span class='pageNumberCount'>10</span> page(s)</div>
						<div class='navigation'>
							<img class='navLeft' id='prev-button' src={% static 'inventory/img/left.png' %} />
							<img id="next-button" src={% static 'inventory/img/right.png' %} />
						</div>
					</div>
				</div>
			</div>
		{% comment %} UPLOAD/REGISTER A DEVICE SECTION STARTS HERE {% endcomment %}
        </div>
		{% comment %} MAIN ENDS HERE {% endcomment %}
		<script src={% static 'inventory/js/main.js' %}></script>
    </body>
</html>
{% endblock content %}