<!-- @format -->
{% include 'general.html' %} 
{% load pwa %}
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'useronboard/login/images/itsalogo.PNG' %}>
		<link rel="stylesheet" href={% static 'dashboard/css/style.css' %} />
		<link rel="stylesheet" href={% static 'inventory/css/style.css' %} />
		<link rel="stylesheet" href={% static 'maintenance/css/style.css' %} />
		<link rel="stylesheet" href={% static 'maintenance/css/maintainrequestdetailscss.css' %} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">


		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>Maintenance Details | ITSA Inventory System</title>
        {% progressive_web_app_meta %}
	</head>
	<div class='shadow'></div>
	<body class='body'>
		{% comment %} MAIN STARTS HERE {% endcomment %}
		<div class='main'>
			<h4> <a href = {% url 'Maintainance' %} >Maintenance</a> > Maintenance Request Details</h4><br/>
			<div class='subIntroSection'>
				<div class='subIntroSectioninner'>
					<div>
						<h1>Maintenance Request Details</h1>
						<h5>
							View maintenance information about this device below
						</h5>
					</div>
					
				
					<div id="flash">
						{% if messages %} {% for message in messages %}
						<div class="alert alert-{{ message.tags}} m-0" role="alert">
							<strong style="color: red">{{ message }}</strong>
						</div>
						{% endfor %} {% endif %}
					</div>
					
					<div class='scannetworkbtn'>
						<button>
							<img src={% static 'maintenance/img/support.png' %} />
							<p>Contact ITSA Support</p>
						</button>
					</div>
				</div>
			</div><br/><br/>
			{% comment %} MAIN BODY SECTION STARTS HERE {% endcomment %}
			<div class='bodytopbar'>
				{% comment %} <div class='bodytopbarinner'>
					<h4 class='maintainreq activebar'>Maintenance Request Details</h4>
					<h4 class='maintainhistory'>Device Maintenance History</h4>
				</div> {% endcomment %}
				<hr/>
				{% comment %} DEVICE DETAILS LIST STARTS HERE {% endcomment %}
				<div class='devicedetailssection'>
					{{deviceuserfirstname}}
					{% for AllMaintainDevice in AllMaintainDevice %}
					{% if AllMaintainDevice.MaintainRequestID == currentDevice %}
					<div>
						<br/><h3>Device Details</h3><br/>
						<h4>Device Name: <strong>{{ AllMaintainDevice.MaintainDeviceName }}</strong></h4>
						<h4>Device ID: <strong>{{ AllMaintainDevice.MaintainDeviceID }}</strong></h4>
						<h4>Device Type: <strong>{{ AllMaintainDevice.MaintainDeviceType }}</strong></h4>
						<h4>Device Unit: <strong>{{ AllMaintainDevice.MaintainDeviceUserDepartment }}</strong></h4>
						<h4>Device is assigned to: <strong>{{ currentDeviceUser.staff_firstname }} with ID '{{currentDeviceDetails}}'</strong></h4>
						{% comment %} <h4>Device is assigned to: <strong>{{ AllMaintainDevice.MaintainDeviceUserFirstname }} {{ AllMaintainDevice.MaintainDeviceUserLastname }} </strong></h4> {% endcomment %}
					</div>
					<div>
						<br/><h3>Maintenance Request Details</h3><br/>
						<h4>Maintenance Request ID: <strong>{{ AllMaintainDevice.MaintainRequestID }}</strong></h4>
						<h4>Maintenance Type: <strong>{{ AllMaintainDevice.MaintainType }}</strong></h4>
						<h4>Date Requested: <strong>{{ AllMaintainDevice.created_at }}</strong></h4>
						<h4>Requested By: <strong>{{ AllMaintainDevice.MaintainRequester }}</strong></h4>
						<h4>Maintenance Request Description:<br/>
							<div class='requestDescriptionSection'>
								<strong>{{ AllMaintainDevice.MaintainRequestDescription }}</strong>
							</div>
						</h4>
						<div class='maintainstatic'>
							<div><h4>Maintenance Status:</div>
							<div class={{ AllMaintainDevice.MaintainStatus }} >
								<strong>
									{{ AllMaintainDevice.MaintainStatus }}
									{% comment %} <img src={% static 'maintenance/img/downarrow.png' %} /> {% endcomment %}
								</strong>
							</div>
							</h4>
						</div>
						{% comment %} ADD COMMENT SECTION STARTS HERE {% endcomment %}
						<div class='addcommentproper'>
							<form method = 'POST'>
								{% csrf_token %}
								<h4>Add Your Comment Below:</h4>
								<input name='commenter' value = {{request.user.username}}  hidden />
								<input name='CommentedMaintainDeviceName' value = {{AllMaintainDevice.MaintainDeviceName}}  hidden />
								<input name='CommentedMaintainDeviceUser' value = "{{ AllMaintainDevice.MaintainDeviceUserFirstname }} {{ AllMaintainDevice.MaintainDeviceUserLastname }}" hidden />
								<input name='CommentedMaintainRequester' value = {{ AllMaintainDevice.MaintainRequester }} hidden />
								<input name='CommentedMaintainRequestID' value = {{ AllMaintainDevice.MaintainRequestID }} hidden />
								<input name='commenterEmailAddress' value = {{ request.user.email }} hidden />
								<textarea name='addedComment'></textarea><br/>
								<div class='addcommentproperbtns'>
									<h5 class='addcommentcancel'>Cancel</h5>
									<button class='addcommentsubmit' name='submit'>Add Comment</button>
								</div>
							</form>
						</div>
						{% comment %} ADD COMMENT SECTION ENDS HERE {% endcomment %}
						<div class='addcommentbtn'>
							<button class='addcommenttriggerbtn'>Add Comment</button>
							{% if request.user.email == AllMaintainDevice.MaintainRequesterEmailAddress %}
							<a href = /member/editmaintenancerequest/{{AllMaintainDevice.MaintainRequestID}}/ ><button>Edit Maintenance Request</button></a>
							{% endif %}
						</div>
						<br/>
						<hr/>
						{% comment %} DISPLAY ALL ADDEDD COMMENTS AND COMMENTERS HERE {% endcomment %}
						{% for AllCommments in AllCommments %}
						{% if AllCommments.CommentedMaintainRequestID == AllMaintainDevice.MaintainRequestID %}
						<div class='commentsSectionout'>
							<div class='commentsSection'>
								<h4>{{ AllCommments.commenter }}'s comment:</h4>
								<div class='commentsSectionInner'>
									{% comment %} <div class='editcomment'>
										<img src={% static 'maintenance/img/edit.png' %} />
										<h4>Edit</h4>
									</div> {% endcomment %}
									{% if request.user.email == AllCommments.commenterEmailAddress %}
									<a href = /member/deletecomment/{{AllCommments.id}}/{{AllMaintainDevice.MaintainRequestID}}/  >
										<div class='editcomment'>
											<img src={% static 'maintenance/img/delete.png' %} />
											<h4>Delete</h4>
										</div>
									</a>
									{% endif %}
								</div>
							</div>
							<div class='maincommentproper'>
								{{ AllCommments.commentProper }}
							</div>
						</div>
						{% endif %}
						{% endfor %}
						{% comment %}  {% endcomment %}
						
					{% endif %}
					{% endfor %}
				</div>
			</div>
			{% comment %} MAIN BODY SECTION ENDS HERE {% endcomment %}
		</div>
		{% comment %} <script src={% static 'maintenance/js/main.js' %}></script> {% endcomment %}
		<script src={% static 'maintenance/js/maintainrequestdetails.js' %}></script>
    </body>
</html>
{% endblock content %}