<!-- @format -->
{% include 'general.html' %} 
{% load pwa %}
{% load static %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'useronboard/login/images/itsalogo.PNG' %}> 
		<link rel="stylesheet" href={% static 'dashboard/css/style.css' %} />
		<link rel="stylesheet" href={% static 'inventory/css/style.css' %} />
		<link rel="stylesheet" href={% static 'staffdetails/css/style.css' %} />
		<link rel="stylesheet" href={% static 'staff/css/style.css' %} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="build/css/intlTelInput.css">
		<title>Staff Members | ITSA Inventory System</title>
    {% progressive_web_app_meta %}
	</head>
	<div class='shadow1'></div>
	<div class='shadowsso'></div>
	<body class='body'>
		<div class='main'>
			<div class='maintop'>
				<div>
					<h1 class='staffcountout'>Staff Members<span class='staffcount'>{{ staffCount }}</span></h1>
					{% comment %} <h5>You have <span>{{ staffCount }}</span> registered staff members.</h5> {% endcomment %}
					<h5>Manage all staff members and their assigned devices.</h5>
				</div>
				
				<div id="flash">
					{% if messages %} {% for message in messages %}
					<div class="alert alert-{{ message.tags}} m-0" role="alert">
						<strong style="color: #2A66B0"><h4>{{ message }}</h4></strong>
					</div>
					{% endfor %} {% endif %}
				</div>

			</div>
      <div class='staffsearch'>
          <div class='searchdashboardout'>
              {% comment %} <div class='searchdashboard'>
                <form method='GET' action="{% url 'Searchresult' %}">
                    <input type='text' name='q' placeholder='Search Staff' />
                </form>
                  <img class='searchicon' src={% static 'dashboard/img/searchicon.png' %} />
              </div> {% endcomment %}
              
          {% comment %} <div class='filter filtercategory'>
            <img src={% static 'inventory/img/filter.png' %} />
            <p>Filter</p>
          </div> {% endcomment %}
          </div>
          <div class='addstaffbtnOut'>
            <div class='addstaffbtn'>
              <button>
                  <img src={% static 'dashboard/img/add.png' %} />
                  <p>Add New Staff</p>
              </button>
            </div>
            {% if StaffADListAll %}
            <div class='addstaffbtn3'>
              <button>
                  {% comment %} <img src={% static 'dashboard/img/add.png' %} /> {% endcomment %}
                  <img src={% static 'dashboard\img\MSlogo.png' %} />
                  <p>Status: {{ StaffADListAll }}</p>
              </button>
            </div>
            {% else %}
            <div class='addstaffbtn2'>
              <button>
                  {% comment %} <img src={% static 'dashboard/img/add.png' %} /> {% endcomment %}
                  <img src={% static 'dashboard\img\MSlogo.png' %} />
                  <p>Activate AD SSO For Staff Members</p>
              </button>
            </div>
            {% endif %}
          </div>
      </div>
      {% comment %} DEVICES INVENTORY TABLE {% endcomment %}
      {% if staffMembers %}
      <div class='staffpagetable'>
        <table style="width: 100%">
          <tr>
            <th>
              <input type='radio' />
            </th>
            <th>Staff's Name</th>
            {% comment %} <th>Contact Number</th>
            <th style="width: 20px">Call Staff</th> {% endcomment %}
            <th>Email Address</th>
            <th>Staff Unique ID</th>
            <th>Staff Unit</th>
            <th style="width: 10px" >Device(s) ID</th>
            <th>Staff Availability</th>
            <th>Action</th>
            <th>More Info</th>
          </tr>
          {% for staffMembers in staffMembers %}
          {% comment %} {% for allUploadedDevices in allUploadedDevices %} {% endcomment %}
          {% comment %} {% if staffMembers.user == request.user %} {% endcomment %}
          {% comment %} {% if allUploadedDevices.deviceid == staffMembers.staffDevice %} {% endcomment %}
          <tr>
            <td>
            <input type='radio' />
            </td>
            <td class='staffassigneddevice'>
              <strong><a href = /member/staffdetails/{{ staffMembers.id }}/ >
                {% if staffMembers.staff_lastname %}
                {{ staffMembers.staff_firstname }} {{ staffMembers.staff_lastname }}
                {% else %}
                {{ staffMembers.staff_firstname }}
                {% endif %}
              </a></strong>
            </td>
            {% comment %} <td>{{ staffMembers.staff_phonenumber }}</td>
            <td>
              <a href= {% url 'Call_Staff' %}>
                <button style="width: 100px">
                  <p>CLICK TO CALL</p>
                </button>
              </a>
            </td> {% endcomment %}
            <td><p style="width: 70px; overflow: hidden">{{ staffMembers.staff_email }}</p></td>
            {% comment %} <td><a href="mailto={{ staffMembers.deviceuseremail }}">{{ staffMembers.deviceuseremail }}</a></td> {% endcomment %}
            <td><p class="copyreferallink2" style="width: 70px">Click to copy ID<br/> </p><input type="hidden" value="{{ staffMembers.StaffID }}" /><input type="hidden" value="{{ staffMembers.staff_firstname }} {{ staffMembers.staff_lastname }}" /></td>
            <td><p>{{ staffMembers.staff_role }}</p></td>
            <td class='staffassigneddevice'>
              {% comment %} <a href=''>{{ staffMembers.staffDevice }}</a> {% endcomment %}
              {% for allDevices in allDevices %}
              {% if allDevices.staffUserID == staffMembers.StaffID %}
              <strong> <a href = /member/viewdevicedetails/{{ allDevices.deviceid }}/ >>{{ allDevices.deviceid }}</a></strong><br/>
              {% endif %}
              {% endfor %}
            </td>

            {% comment %} {% for AllLoginStatus in AllLoginStatus %} {% endcomment %}
            <td>
              {% if AllLoginStatus %}
                {% if AllLoginStatus.email == staffMembers.staff_email %}
                  <p class='userisonline'>Online | {{ AllLoginStatus.created_at | timesince }} ago</p>
                  <p></p>
                {% comment %} {% else %} {% endcomment %}            
                {% endif %}
              {% endif %}
              <p class='userisoffline'>Offline</p>
            </td>

            <td>
              <div class='actionbtns'>
                <button><a href= /member/editstaffdetails/{{ staffMembers.id }}/ ><img src={% static 'dashboard/img/edit.png' %} /></a></button>
                <button><a href= /member/deletestaff/{{ staffMembers.id }}/ ><img src={% static 'dashboard/img/delete.png' %} /></a></button>
              </div>
            </td>
            <td class='moredetailsbtn'>
              <a href = /member/staffdetails/{{ staffMembers.id }}/ >
                <button>More Details</button>
              </a>
            </td>
          </tr>
          {% comment %} {% endif %} {% endcomment %}
          {% comment %} {% endfor %} {% endcomment %}
          {% endfor %}
        </table>
        {% comment %} <div class='pagesdetailsseection'>
          <div class='perpagecount'>
            <div>
              <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
            <div>
              <p>items per page</p>
            </div>
          </div>
          <div class='perpagecount2'>
            1-<span>8</span> items of <i>100</i>
          </div>
          <div class='pages'>
            <div>
              <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
            <div>of <span>10</span> pages</div>
            <div class='navigation'>
              <img class='navLeft' src={% static 'inventory/img/left.png' %} />
              <img src={% static 'inventory/img/right.png' %} />
            </div>
          </div>
        </div> {% endcomment %}
      </div>
    {% else %}
    <div class='staffemptystatesection'>
      <div>
        <img src={% static 'staffgeneral/img/staffemptystate.png' %} />
        <h4>No staff members added yet?</h4>
        <h5>Add your first staff member</h5>
        <div class='staffemptystatesectionbtn'>
          <button>
              <img src={% static 'dashboard/img/add.png' %} />
              <p>Add New Staff</p>
          </button>
        </div>
      </div>
    </div>
    {% endif %}
  </div>



    <div class='regsiteruser'>
        <div class='adduserintro'>
            <h1>Add New User</h1>
            <div class='closereguser'>
                <img src={% static 'dashboard/img/close.png' %} />
            </div>
        </div>
        <p>Staff Information</p>
        <form method='POST'>
          {% csrf_token %}
            <div>
                <input required name='CompanyUniqueCode' hidden type='text' value = "{{request.user.last_name}}" /><br/>
                {% comment %} <input required name='CompanyUniqueCode' hidden type='text' value = {{request.user.last_name}} /><br/> {% endcomment %}
                <input required name='staff_firstname' type='text' placeholder='Staff First Name' /><br/>
                <input required name='staff_lastname' type='text' placeholder='Staff Last Name' /><br/>
                <input required name='staff_email' type='email' placeholder='Staff Official Email Address' />
                {% comment %} <input required name='staff_role' type='text' placeholder='Staff Role/Department' /> {% endcomment %}
                <select name='staff_role'>
                  <option value ='none'>Select Staff's Department</option>
                  <option value ='IT'>IT</option>
                  <option value ='HR'>HR</option>
                  <option value ='Admin'>Admin</option>
                  <option value ='Technical'>Technical</option>
                </select>
            </div>
            <div class='phonenumbersection'>
                <input required name='staff_phonenumber' type='tel' placeholder="Staff Official Phone Number"/>
                <input required name='staff_location' type='text' placeholder="Staff Location"/>
            </div>
            <button type='submit'>Register Staff</button>
        </form>
    </div>
    {% comment %} SSO Setup starts here {% endcomment %}
    {% comment %} <div class='ssopopup'> {% endcomment %}
    <div class='ssopopupStageOne'>
      <div class='ssopopupStageOneIntro'>
        <h2>Activate AD SSO For Staff Members</h2><br/>
        <div class='uploaddevicepopupintroclose'>
            <img src={% static 'dashboard/img/close2.png' %} />
        </div>
      </div>
      <h4>
        For staff members in your network to access the DHMS using their Microsoft Active Directory email addresses and passwords, complete these simple steps
      </h4><br/><br/>
      <button class='ssopopupStageOneBTNNext'>
        Continue
        <img src={% static 'staff/img/rightarrow.png' %} />
      </button>
    </div>

      <div class='ssopopupStageTwo'>
        <div class='ssopopupStageTwoIntro'>
          <h2>01: Note</h2><br/>
          <div class='uploaddevicepopupintroclose2'>
              <img src={% static 'dashboard/img/close2.png' %} />
          </div>
        </div>
        <h4>
          In order to allow staff members access to the DHMS, ITSA will need to have their email addresses registered on the application tenant. <br/><br/>
          kindly upload a <a title='Click to download a sample' href= {% url 'SampleFileForStaffAD' %} ><strong>CSV file</strong></a> containing all <strong>exact</strong> email addresses of staff members you'd like to register on the DHMS.
        </h4><br/><br/>
        <div class='ssopopupStageTwoBTNS'>
          <button class='ssopopupStageTwoBTNSPrevious'>
            <img src={% static 'staff/img/backarrow.png' %} />
            Previous
          </button>
          <button class='ssopopupStageTwoBTNSNext'>
            Continue to upload
            <img src={% static 'staff/img/rightarrow.png' %} />
          </button>
        </div>
      </div>

      
        {% comment %} POP UP FOR DEVICE UPLOAD STARTS HERE {% endcomment %}
        <div class='uploaddevicepopup'>
          <div class='uploaddevicepopupintro'>
              <h2>02. Upload A CSV File</h2>
              <div class='uploaddevicepopupintroclose3'>
                  <img src={% static 'dashboard/img/close2.png' %} />
              </div>
          </div>
          <ul class='uploadguides'>
              {% comment %} <li><p>To upload your list of devices, simply select click on the 'Upload' box below to select a CSV file.</p></l1> {% endcomment %}
          </ul><br/>

          <form method = 'POST' enctype="multipart/form-data" >
              {% csrf_token %}
              <div>
                  <label for="images" class="drop-container">
                      <img src={% static 'dashboard/img/csv.png' %} />
                      <input type='text' hidden name='staffaduploader' value = {{request.user}}  />
                      {% comment %} <input type='text' name='username' value = {{request.user}}  /> {% endcomment %}
                      <input type='text' hidden name='CompanyUniqueCode' value={{request.user.last_name}} class='sendsavetimedata'  />
                      <span class="drop-title">Click To Select File</span>
                      {% comment %} or {% endcomment %}
                      <input name='staff_csv_file' type="file" id="images" required>
                    </label>
              </div>
              
              <div class='uploaddevicepopupBTN'>
                <div class='uploaddevicepopupBTNPrev'>
                  <img src={% static 'staff/img/backarrow.png' %} />
                  <p>Previous</p>
                </div>
                
                <button type='submit' class='uploaddevicepopupBTNNext'>
                  Upload
                  <img src={% static 'staff/img/rightarrow.png' %} />
                </button>
              </div>
          </form>

      </div>
      {% comment %} POP UP FOR DEVICE UPLOAD ENDS HERE {% endcomment %}

    {% comment %} </div> {% endcomment %}
    <script src={% static 'staff/js/main.js' %}></script>
  </body>
</html>
{% endblock content %}