*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main{
    margin-right: 3px;
}



.familymemberintro{
    background-color: #2A66B0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.familymemberintro button{
    background-color: #F7F7FB;
    color: #2A66B0;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: bold;
}

.familymemberintro h4{
    font-weight:lighter;
}

.familymemberintro img{
    width: 20px;
    margin-bottom: 5px;
}

.emptystate{
    margin: auto;
    text-align: center;
    width: 400px;
    display: none;
}

.emptystate h4{
    margin-top: 20px;
} 

.emptystate button{
    background-color: #2A66B0;
    color: #F7F7FB;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 10px;
}

.emptystate button img{
    width: 20px;
    margin-bottom: 5px;
}


.shadow{
    position: fixed;
    margin-left: 0px;
    height: 100vh;
    padding: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.233);
    z-index: 20;
    transition: 0.5s ease-in-out;
    display: none;
}

.addfampopup{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: fixed;
    left: 30%;
    top: 15%;
    height: 460px;
    z-index: 21;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    width: 480px;
    display: none;
    transition: ease-in-out .4s;
}

.addfampopup form label{
    font-size: 1.3rem;
}


.addfampopup form input{
    width: 445px;
    height: 44px;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 8px;
    border:  1px solid #C3C3C3;
}

.addfampopup form button{
    background-color: #2A66B0;
    color: #F7F7FB;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 10px;
    position: absolute;
    right: 20px;
}
.searchsidebtns button{
    background-color: transparent;
    color: #636363;
    padding: 10px;
    border: 1px solid #C3C3C3;
    width: 100px;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 10px;

}

.addfampopuphead{
    display: flex;
    justify-content: space-between;
}

.addfampopuphead img{
    cursor: pointer;
}

.addfampopuphead p{
    font-size: 1.2rem;
}

.familymemberCount{
    visibility: hidden;
}

.mainfamilymemberslistsection{
    background-color: white;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    min-height: 40vh;
    margin-top: -10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    /* padding-top: -100px; */
}

.actiongensection{
    position: relative;
}

.memberaction{
    position: absolute;
    right: 40px;
    bottom: 0px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 200px;
    display: none;
    z-index: 10;
}

.memberactioninner{
    display: flex;
    align-items: center;
    transition: ease-in-out .3s;
    cursor: pointer;
    padding: 5px;
    height: 40px;
    border-left: 2px solid white;
}

.memberactioninner:hover{
    background-color: #EAF0F7;
    border-left: 2px solid #2A66B0;
    /* color: white; */
    font-weight: bold;
}

.memberactioninner p{
    margin-top: 10px;
    margin-left: 10px;
}

.addsubadminclosebtn{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.addsubadminmain{
    margin-top: 30px;
}

.addsubadminmain img{
    width: 200px;
}


.addsubadmin{
    display: none;
    position: fixed;
    top: 20%;
    left: 35%;
    z-index: 21;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


.newsubadmin{
    display: none;
    position: fixed;
    top: 20%;
    left: 35%;
    z-index: 21;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
}

.newsubadminclosebtn{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.newsubadminimg img{
    width: 150px;
    margin: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.addsubadmin button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
}

.addsubadminbtns{
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 180px;
    text-align: center;
}

.addsubadminbtns1 button{
    border: 1px solid grey;
    background-color: white;
}

.addsubadminbtns2 button{
    background-color: #2A66B0;
    color: white;
    margin-left: 10px;
}























@media only screen and (max-width: 1202px){
    .main{
    padding-top: 120px;
    padding-left: 5px;
    padding-right: 5px;
    }

    .main h5{
        color: rgb(175, 175, 175);
    }

    .maintop{
        display: inline;
        justify-content: space-between;
        padding-right: 20px;
        margin-bottom: 30px;
    }

    .maintop button p{
        margin-top: 9px;
    }

    .deviceinventorymaintop{
        display: none;
    }

    .mainfamilymemberslistsection{
        background-color: white;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        min-height: 40vh;
        margin-top: -10px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
        overflow: scroll;
        /* padding-top: -100px; */
    }

    .addfampopup{
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        position: fixed;
        left: 0%;
        top: 20%;
        height: 360px;
        z-index: 21;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
        width: 100%;
        display: none;
        transition: ease-in-out .4s;
    }

    .addfampopup form input{
        width: 100%;
        height: 44px;
        padding: 15px;
        font-size: 1.2rem;
        border-radius: 8px;
        border:  1px solid #C3C3C3;
    }

    .addsubadmin{
        display: none;
        position: fixed;
        top: 30%;
        left: 0%;
        z-index: 21;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    .newsubadmin{
        display: none;
        position: fixed;
        top: 30%;
        left: 0%;
        z-index: 21;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        text-align: center;
    }
    
    
    
    
    



}

















