<!-- @format -->
{% include 'admingen.html' %} 
{% load static %} 
{% load pwa %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'general/img/itsalogo.PNG' %}> 
		<link rel="stylesheet" href={% static 'dashboard/css/style.css' %} />
		<link rel="stylesheet" href={% static 'inventory/css/style.css' %} />
		<link rel="stylesheet" href={% static 'adminpages/css/organizations.css' %} />
		<link rel="stylesheet" href={% static 'adminpages/css/maintenance.css' %} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />		
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>Maintenance | ITSA Inventory System</title>
		{% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script> {% endcomment %}
        {% progressive_web_app_meta %}
	</head>
	<div class='shadow1'></div>	
	<body class='body'>
        <div class="main">
			<div class='maintop'>
				<div>
					<h1>Maintenance Requests</h1>
					{% comment %} {{LatestCompanyDate1.created_at}}  {% endcomment %}
					<h5>Track and monitor maintenance request from all users.</h5>
				</div><br/>
				
				<div id="flash flashmessage">
					{% if messages %} {% for message in messages %}
					<div class="alert alert-{{ message.tags}} m-0" role="alert">
						<strong>{{ message }}</strong>
						{% comment %} <strong style="color: blue">{{ message }}</strong> {% endcomment %}
					</div>
					{% endfor %} {% endif %}
				</div>
			</div>
			{% comment %} ALL DEVICES DETAILS LIST SECTION STARTS HERE {% endcomment %}
			<div class='introdetailssection'>
				<div class='introdetailsbar allusers'>
					<img src={% static 'adminpages/img/maintainblue.png' %} />
					{% if AllMaintenanceRequestCount  %}
					<h1>{{ AllMaintenanceRequestCount }}</h1>
					{% else %}
					<h1>0</h1>
					{% endif %}
					<p>Maintenance Requests</p>
				</div>
				
				<div class='introdetailsbar healthydevices'>
					<img src={% static 'adminpages/img/maintaingreen.png' %} />
					{% if CompletedMaintenanceRequestCount  %}
					<h1>{{ CompletedMaintenanceRequestCount }}</h1>
					{% else %}
					<h1>0</h1>
					{% endif %}
					<p>Completed Requests</p>
				</div>
				<div class='introdetailsbar alldevices'>
					<img src={% static 'adminpages/img/maintaingrey.png' %} />
					{% if PendingMaintenanceRequestCount  %}
					<h1>{{ PendingMaintenanceRequestCount }}</h1>
					{% else %}
					<h1>0</h1>
					{% endif %}
					<p>Pending Requests</p>
				</div>
				<div class='introdetailsbar faultydevices'>
					<img src={% static 'adminpages/img/maintainred.png' %} />
					{% if CancelledMaintenanceRequestCount  %}
					<h1>{{ CancelledMaintenanceRequestCount }}</h1>
					{% else %}
					<h1>0</h1>
					{% endif %}
					<p>Cancelled Requests</p>
				</div>
				<div class='introdetailsbar onmaintenance'>
					<img src={% static 'dashboard/img/onmaintenance.png' %} />
					{% if OngoingMaintenanceRequestCount  %}
					<h1>{{ OngoingMaintenanceRequestCount }}</h1>
					{% else %}
					<h1>0</h1>
					{% endif %}
					<p>Ongoing Requests</p>
				</div>
			</div>
			{% comment %} ALL DEVICES DETAILS LIST SECTION ENDS HERE {% endcomment %}

			
			<!-- ORGANIZATION AVAILABLE STATE STARTS HERE -->
			<div>			
				<div>
					<div class='devinvetable'>
						<table  id="paginated-list" >
							<tr>
							{% comment %} <th class='topCheckBox'>
								<input type='radio' />
							</th> {% endcomment %}
							<th>Date Submitted</th>
							<th>Requester</th>
							<th>Device ID</th>
							<th>Maintenance Type</th>
							<th>Priority</th>
							<th>Status</th>
							{% comment %} <th>Action</th> {% endcomment %}
							</tr>
							{% for AllMaintenanceRequest in AllMaintenanceRequest %}
							<div class='item'>
								<tr class='item'>
									{% comment %} <td class='sectionCheckBox'>
										<input class='sectionCheckBoxinput' type='radio' value={{ AllMaintenanceRequest.deviceid }} />
									</td> {% endcomment %}
									<td>{{ AllMaintenanceRequest.created_at }}</td>
									<td class='deviceherecountin'>
										{% for AllCompany in AllCompany %}
										{% if AllMaintenanceRequest.CompanyUniqueCode == AllCompany.companyUniqueID  %}
										<div> <strong>{{AllMaintenanceRequest.MaintainRequester}}</strong> of  <a href= "/superadmin/organizations/{{AllCompany.companyUniqueID}}/" >{{AllCompany.companyname}}</a> </div>
										{% endif %}
										{% endfor %}
									</td>
									<td>{{ AllMaintenanceRequest.MaintainDeviceID }}</td>
									<td>{{ AllMaintenanceRequest.MaintainType }}</td>

									<td class='staffherecountin'>0</td>

									<td>{{ AllMaintenanceRequest.MaintainStatus }}</td>
									{% comment %} <td>
										<div class='actionbtns'>
											<img src={% static 'adminpages/img/dotsvertical.png' %} />	
										</div>
										<div class='actionbtnsmain'>
											<a href=  "/superadmin/organizations/{{ AllOrganizations.companyUniqueID }}/" ><div class='actionbtnsmainin'>
												<img src={% static 'adminpages/img/dashboard.png' %} />
												<p>View Details</p>
											</div></a>
										</div>
									</td> {% endcomment %}
								</tr>
							</div>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			<!-- ORGANIZATION MAINTENANCE STATE ENDS HERE -->
			<hr/>
			<hr/>
			<!-- STUDENTS MAINTENANCE STATE STARTS HERE -->
			<div>
				<div>
					<h3>Student Maintenance Requests</h3>
					<div class='devinvetable'>
						<table  id="paginated-list" >
							<tr>
							{% comment %} <th class='topCheckBox'>
								<input type='radio' />
							</th> {% endcomment %}
							<th>Date Submitted</th>
							<th>Requester</th>
							<th>Requester Admin</th>
							<th>Device ID</th>
							<th>Maintenance Type</th>
							<th>Priority</th>
							<th>Status</th>
							{% comment %} <th>Action</th> {% endcomment %}
							</tr>
							{% for AllStudentMaintenanceRequest in AllStudentMaintenanceRequest %}
							<div class='item'>
								<tr class='item'>
									{% comment %} <td class='sectionCheckBox'>
										<input class='sectionCheckBoxinput' type='radio' value={{ AllStudentMaintenanceRequest.deviceid }} />
									</td> {% endcomment %}
									<td>{{ AllStudentMaintenanceRequest.created_at }}</td>
									<td class='deviceherecountin'>
										{% for AllSubStudents in AllSubStudents %}
										{% if AllStudentMaintenanceRequest.student_requester_id == AllSubStudents.id  %}
										<div><strong><a href= "/superadmin/organizations/{{AllCompany.companyUniqueID}}/" >{{AllSubStudents.sub_student_firstname}} {{AllSubStudents.sub_student_lastname}}</a> </div>
										{% endif %}
										{% endfor %}
									</td>
									<td class='deviceherecountin'>
										{% for AllAdminStudents in AllAdminStudents %}
										{% if AllStudentMaintenanceRequest.student_admin_id == AllAdminStudents.id  %}
										<div><strong><a href= "/superadmin/organizations/{{AllCompany.companyUniqueID}}/" >{{AllAdminStudents.student_firstname}} {{AllAdminStudents.student_lastname}}</a> </div>
										{% endif %}
										{% endfor %}
									</td>
									<td>{{ AllStudentMaintenanceRequest.MaintainDeviceID }}</td>
									<td>{{ AllStudentMaintenanceRequest.MaintainType }}</td>

									<td class='staffherecountin'>0</td>

									<td>{{ AllStudentMaintenanceRequest.MaintainStatus }}</td>
									{% comment %} <td>
										<div class='actionbtns'>
											<img src={% static 'adminpages/img/dotsvertical.png' %} />	
										</div>
										<div class='actionbtnsmain'>
											<a href=  "/superadmin/organizations/{{ AllOrganizations.companyUniqueID }}/" ><div class='actionbtnsmainin'>
												<img src={% static 'adminpages/img/dashboard.png' %} />
												<p>View Details</p>
											</div></a>
										</div>
									</td> {% endcomment %}
								</tr>
							</div>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
			<!-- STUDENTS MAINTENANCE STATE ENDS HERE -->

		</div>
	{% comment %} <script src={% static 'dashboard/js/main.js' %}></script> {% endcomment %}
	<script src={% static 'adminpages/js/organization.js' %}></script>
    </body>
</html>
{% endblock content %}


