<!-- @format -->
{% include 'admingen.html' %} 
{% load static %} 
{% load pwa %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href={% static 'general/img/itsalogo.PNG' %}> 
		<link rel="stylesheet" href={% static 'adminpages/css/organizations.css' %} />
		<link rel="stylesheet" href={% static 'adminpages/css/techniciancss.css' %} />
		<link rel="stylesheet" href={% static 'dashboard/css/style.css' %} />
		<link rel="stylesheet" href={% static 'inventory/css/style.css' %} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap" rel="stylesheet">

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>{{findPartner.technicianName}} Profile | ITSA Inventory System</title>
		{% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script> {% endcomment %}
        {% progressive_web_app_meta %}
	</head>
	<div class='shadow1'></div>
	<body class='body'>
        <div class="main">
			<div class="orgsectionintro">
				<div>
					<div class="orgsectionintroinner"><h1>{{findPartner.technicianName}} Profile</h1></div>
					{% comment %} <h5></h5> {% endcomment %}
				</div>
				<div class="addorgbtn addorgbtn1">
					<button>
						  Edit Profile
					</button>
				</div>
			</div>
			{% comment %} Partner details {% endcomment %}
			<br/>
			<div>
				<h3>Name: <strong>{{findPartner.technicianName}}</strong></h3>
				<h3>Email: <strong>{{findPartner.technicianEmail}}</strong></h3>
				<h3>Phone number: <strong>{{findPartner.technicianPhoneNumber}}</strong></h3>
				<h3>Availability: <strong>{{findPartner.technicianAvailability}}</strong></h3>
				<h3>Location: <strong>{{findPartner.technicianLocation}}</strong></h3>
				<h3>Date registered: <strong>{{findPartner.created_at }}</strong></h3>
			</div>
		</div>

		{% comment %} Add technician popup starts here {% endcomment %}
		<div>
			
			<div class='regsiteruser'>
				<div class='adduserintro'>
					<h1>Register Technician</h1>
					<div class='closereguser'>
						<img src={% static 'dashboard/img/close.png' %} />
					</div>
				</div>
				<p>Technician's Info</p>
				<form method='POST'>
				  {% csrf_token %}
					<div>
						{% comment %} <input required name='CompanyUniqueCode' hidden type='text' value = {{request.user.last_name}} /><br/> {% endcomment %}
						<input required name='technicianName' type='text' placeholder="Technician's Full Name" /><br/>
						<input required name='technicianEmail' type='email' placeholder="Technician's Email Address" />
						<select name="technicianAvailability">
						  <option value ='none'>Select Technician's Availability</option>
						  <option value ='Full_Time'>Full time</option>
						  <option value ='Part_Time'>Part time</option>
						  <option value ='Pending'>Pending</option>
						</select>
					</div>
					<div class='phonenumbersection'>
						<input required name='technicianPhoneNumber' type='tel' placeholder="Technician's Phone Number"/>
						<input required name='technicianLocation' type='text' placeholder="Technician's Location"/>
					</div>
					<button type='submit'>Register Technician</button>
				</form>
			</div>
		</div>
		{% comment %} Add technician popup ends here {% endcomment %}
		<script src={% static 'dashboard/js/main.js' %}></script>
		<script src={% static 'adminpages/js/technicians.js' %}></script>
    </body>
</html>
{% endblock content %}


